

p{
    font-weight: bold;
    display: inline;
}

.details{
    top: 100px;
    position: absolute;
    left: 100px;
}

.span{
    top: 100px;
    position: absolute;
    left: 100px;
}

#citys{
    top: 50px;
    position: relative;
    left: 90px;
}
#map { 
    height: 450px;
    width: 900px;
    top: 30px;
    left: 300px;

    
}


